syntax: glob
*.pyc
*.o
*.d
*~
.metadata/*
build*/
Code/build/*
Code/build_clang/*
install/*
results/*
dependencies/build/*
deploy/.jobscripts
deploy/machines_user.json
deploy/machines_user.yml
personal/*
CMakeFiles/*
CMakeCache.txt
Code/client/displayClient
.DS_Store
diffs
dependencies/Makefile
dependencies/cmake_install.cmake
dependencies/bin
dependencies/lib
dependencies/include
dependencies/share
dependencies/distributions
dependencies/parmetis-prefix
dependencies/cppunit-prefix
dependencies/tinyxml-prefix
revision_info.txt
hemelb-prefix/src/hemelb-stamp/hemelb-urlinfo.txt
.*.sw[p, o, n]
tags
i
.astyle
.clang-format
Tools/GenerateStl
*-slack-token
*.egg-info
_skbuild
dist
.vagrant

hemelb-experiments/*
results/*
personal/*
hemelb-scripts/*
papers/*
