/* Document format */
body {	
    text-align: center;
}

h1 {
    color: #3D5C7A;
	width: 705px;
    border-bottom: 2px solid #3D5C7A;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin: 20px 10px 0px 10px;
    text-shadow: 1px 1px 0 white;
}

h2 {
    color: #3D5C7A;
	width: 705px;
    border-bottom: 2px solid #3D5C7A;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin: 30px 10px 0px 10px;
    text-shadow: 1px 1px 0 white;
}

h3 {
    color: #3D5C7A;
	width: 705px;
    border-bottom: 2px solid #3D5C7A;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin: 15px 10px 0px 10px;
    text-shadow: 1px 1px 0 white;
}

h4 {
    color: #3D5C7A;
	width: 705px;
    border-bottom: 3px solid #3D5C7A;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin: 15px 10px 0px 10px;
    text-shadow: 1px 1px 0 white;
}

h5 {
    color: #3D5C7A;
	width: 705px;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: lighter;
    margin: 1px 5px 5px 5px;
    text-shadow: 1px 1px 0 white;
}

h6 {
    color: #3D5C7A;
	width: 180px;
    border-bottom: 2px solid #3D5C7A;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin: 20px 10px 0px 10px;
    text-shadow: 1px 1px 0 white;
}

h7 {
    color: #3D5C7A;
	width: 200px;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: lighter;
    margin: 1px 5px 5px 5px;
    text-shadow: 1px 1px 0 white;
}



html {
    background-color: #E5E5E5;
    font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    width: 100%;
}

/* Header */
.header_container {
	background-image:url(images/header.jpg);
	background-repeat:repeat-x;
	background-position:center;
	text-align: center;
	height: 80px;
	width: 100%;
	display: block;
    clear: both; 
}

.header_container a:link, .header_container a:visited {
    text-decoration: none;
}

.header_menu_container{
	background:transparent url(images/nav_bg.png) repeat-x top left;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	width: 100%;
	text-align: center;
	display: block;
    clear: both;
}

.header {
	font-family:Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
	text-align:center-bottom;
	text-shadow: -2px 0 3px #EFEFEF;
	font-size: 50px;
    font-style: normal;
    text-decoration: none;
    font-weight: lighter;
	color:#F6F5F5;
	width: 100%;
	height: 100px;
	display: block;
    clear: both;
    margin: 0 auto;
	overflow-x:hidden;
	overflow-y:hidden;	
} 


/* Attachments, screenshot and code snippets */
.attachment_container {
    text-align: left;
}

.video{
	border: 0 none;
	clear: right;
	float: right;
	margin: auto auto auto 20px;
	width:220px;
}
.big_video{
	border: 0 none;
	clear: right;
	margin: auto auto auto 20px;
	width:640px;
}

.screenshot {
    border: 0 none;
	clear: right;
	float: right;
	margin: auto auto auto 20px;
}

.small_left_screenshot {
	width: 100px;
    border: 0 none;
	clear: right;
	float: left;
	margin: auto 20px auto auto;
}

.gallery {
    border: 0 none;
	width: 150px;
	height: 135px;
	margin: 5px 5px 5px auto;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

.logo {
    border: 0 none;
	width: 150px;
	margin: 25px 90px 5px 5px;
}

.big_snippet {
    border: 0 none;
    width: 450px;
	clear: right;
	float: right;
	margin: 10px auto auto 20px;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

.medium_snippet {
    border: 0 none;
    width: 170px;
	clear: right;
	float: right;
	margin: 10px auto auto 20px;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

.snippet {
    border: 0 none;
    width: 150px;
	clear: right;
	float: right;
	margin: auto auto auto 20px;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

.snippet_down {
    border: 0 none;
    width: 150px;
	clear: right;
	float: right;
	margin: 20px auto auto 20px;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}
.left_snippet {
    border: 0 none;
    width: 150px;
	clear: right;
	float: left;
	margin: 5px 20px auto auto;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}

.side {
	width: 22%;
	float: left;
	margin: 10px auto auto 20px;
    background-color: #E1E2E6;
	border-radius: 10px 10px 10px 10px;
    text-align: left;
	display: block;
    clear: both;
	padding-top:5px;
	overflow-x:hidden;
	overflow-y:hidden;
}


/* Content formatting */
.content_box {
	width: 100%;
	margin: 0 auto auto auto;
    background-color: #EFEFEF;
    text-align: left;
	display: block;
    clear: both;
	padding-top:5px;
	overflow-x:hidden;
	overflow-y:hidden;
}

.content {
	width: 70%;
	float:right;
	margin: 10px auto auto auto;
    background-color: #F6F5F5;
	border-radius: 10px 10px 10px 10px;
    text-align: left;
	overflow-x:hidden;
	overflow-y:visible;
}

.content_graph {
	width: 75%;
	float:right;
	margin:10px auto auto auto;
    background-color: #F6F5F5;
	border-radius: 10px 10px 10px 10px;
    text-align: left;
	overflow-x:hidden;
	overflow-y:visible;
}

.content.hide{
	display:none;
}

.content_left{
	width: 45%;
	float:left;
	margin: 10px auto auto 20px;
    background-color: #F6F5F5;
	border-radius: 10px 10px 10px 10px;
    text-align: left;
	overflow-x:hidden;
	overflow-y:visible;
}

.content_right {
	width: 45%;
	float:right;
	margin: 10px auto auto auto;
    background-color: #F6F5F5;
	border-radius: 10px 10px 10px 10px;
    text-align: left;
	overflow-x:hidden;
	overflow-y:visible;
}

.side_description {
	font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    padding: auto auto auto auto;
    margin: 10px 10px 5px 10px;
	background-color: #E1E2E6;
}

.side_description a:link, .side_description a:visited {
	color: #3D5C7A;
    text-decoration: none;
}

.side_description a:hover {
	color: #3D5C7A;
    text-decoration:underline;
}

.description {
	font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 20px 0px 10px;
    margin: 5px 10px 5px 10px;
	background-color: #F6F5F5;
	text-align:justify;
}

.description a:link, .description a:visited {
	color: #3D5C7A;
    text-decoration: none;
}

.description a:hover {
	color: #3D5C7A;
    text-decoration:underline;
}

.description_2 {
	font-family: Lucida Grande,Lucida Sans Unicode,Arial,Verdana,sans-serif;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 20px 0px 10px;
    margin: 5px 10px 5px 10px;
	text-align:justify;
}

.description_2 a:link, .description_2 a:visited {
	color: #3D5C7A;
    text-decoration: none;
}

.description_2 a:hover {
	color: #3D5C7A;
    text-decoration:underline;
}

.description_2 p {
    margin: 0px auto 0px auto;
}

.description_2 ul {
    margin: 0px auto 0px auto;
}

/* Footer */
.pre_footer {
    margin: auto auto 30px auto;
}

.pre_footer_long {
    margin: auto auto 270px auto;
}


.footer_container {
    background-image:url(../media/footer.jpg);
	background-repeat:repeat;
}

.footer {
	width: 1000px;
	height: 150px;
	padding-top:15px;
	padding-left: 100px;
	display: block;
    clear: both;
	text-align: center;
	margin: 0 auto;
}

.footer a:link, .footer a:visited {
	color: #FFFFFF;
    text-decoration: none;
}

/* Buttons */
.button_container {
	margin: 0px auto 20px auto;
	text-align: center;
	width: 300px;
}

a.button {
	margin: 0px 15px 0px auto;
	text-align: center;
    background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float:left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

.button2 {
   margin: 0px 20px 0px auto;
   border-top: 1px solid #2277ab;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D5C7A), to(#000000));
   background: -moz-linear-gradient(top, #3D5C7A, #000000);
   padding: 8px 24px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 11px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button2:hover {
   border-top-color: #133069;
   background: #133069;
   color: #fffaff;
}
.button2:active {
   border-top-color: #2677ad;
   background: #2677ad;
}

//tables

#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 500px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 15px 0px 8px;
	text-align:center;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}