# 
# Copyright (C) University College London, 2007-2012, all rights reserved.
# 
# This file is part of HemeLB and is CONFIDENTIAL. You may not work 
# with, install, use, duplicate, modify, redistribute or share this
# file, or any part thereof, other than as allowed by any agreement
# specifically made by you with University College London.
# 

default: 
  # General default values for all machines live in the default dictionary.
  # Machine-specific overrides replace these.
  # Mercurial server to find HemeLB
  hg: "ssh://hg@entropy.chem.ucl.ac.uk"
  # Repository on the mercurial server to find HemeLB
  repository: "hemelb"
  # Repository on the mercurial server holding the RegressionTests
  regression_tests_repository: "hemelb-input"
  # Default Modules to load or unload on remote, via module 'foo'
  # e.g. ['load cmake'].
  modules: []
  # Commands to execute before attempting a remote build.
  build_prefix_commands: []
  # Commands to execute as part of remote run jobs.
  run_prefix_commands: []
  # Templates to use to find space to checkout and build HemeLB on the remote.
  # All user- and generally- defined values in these config dictionaries will be interpolated via $foo
  home_path_template: "/home/$username"
  # Name for the Project Fabric folder
  fabric_dir: "FabricHemeLb"
  # Path to runtime accessible filesystem (default is same as build time)
  runtime_path_template: "$home_path"
  make_jobs: 1
  corespernode: 1
  # Default options used in the CMake configure step.
  # Command to use to launch remote jobs
  # e.g. qsub, empty string to launch interactively.
  job_dispatch: ''
  # Path to build filesystem folder
  # All user-defined values in these config dictionaries will be interpolated via $foo
  remote_path_template: "$home_path/$fabric_dir"
  # Path to run filesystem folder
  work_path_template: "$runtime_path/$fabric_dir"
  install_path_template: "$remote_path/install"
  # Normally, the regression test can be run directly out of diffTest, but sometimes needs to be copied to a runtime file area.
  regression_test_path_template: "$regression_test_source_path"
  python_build: "TODO"
  batch_header: no_batch
  run_command: "mpirun -np $cores"
  temp_path_template: "/tmp"
  cmake_options: {}
  job_name_template: '${config}_${build_number}_${machine_name}_${cores}_${snapshots}_${images}'
  config_name_template: "${profile}_${StringVoxelSize}_${Steps}_${Cycles}"
  local_templates_path: "$localroot/deploy/templates"
  manual_ssh: false
  stat: qstat
legion: 
  job_dispatch: "qsub"
  run_command: "mpirun -np $cores -machinefile $$TMPDIR/machines"
  batch_header: sge
  # The remote host-name to use.
  remote: "legion.rc.ucl.ac.uk"
  # The path python disttools use for builds.
  python_build: "python2.6"
  modules: ["remove mpi/qlogic/1.2.7/intel","remove compilers/intel/11.1/072","add compilers/gnu/4.1.2", "add mpi/openmpi/1.4.1/gnu", "add cmake/2.8.3", "add python/2.6.6/gnu"]
  runtime_path_template: "$home_path/Scratch"
  node_type_restriction_template: '#$$ -ac allow="${node_type}"'
  node_type: "X"
  corespernode: 12
  temp_path_template: false #Legion sets its own tmpdir
legion_vampir:
  fabric_dir: "VampirHemeLB"
  import: legion
  build_prefix_commands: ["export CXX=mpicxx-vt","export CC=mpicc-vt", "export LD=mpicc-vt"] #Tell autoconf for dependencies where the compilers are
  cmake_options: 
    CMAKE_CXX_COMPILER: "mpicxx-vt"
    CMAKE_C_COMPILER: "mpicc-vt"
legion_intel:
  fabric_dir: "IntelHemeLB"
  import: legion
  modules: ["remove mpi/qlogic/1.2.7/intel","add mpi/openmpi/1.4.1/intel","add cmake/2.8.3", "add python/2.6.6/gnu"]
  build_prefix_commands: ["export CXX=icpc","export CC=icc", "export LD=icc"] #Tell autoconf for dependencies where the hector compilers are
  cmake_options: 
    HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
    CMAKE_CXX_COMPILER: "icpc"
    CMAKE_C_COMPILER: "icc"
    CMAKE_CXX_FLAGS_RELEASE: ""
    HEMELB_OPTIMISATION: "-O3"
    HEMELB_DEPENDENCIES_SET_RPATH: "OFF"
planck:
  needs_tarballs: true
  remote: "planck.chem.ucl.ac.uk"
  python_build: "lib/python2.7"
  home_path_template: "/home/$username/.fabric/Remote"
  cmake_options:
    CPPUNIT_PATCH_LDL: ON
entropy: 
  remote: "entropy.chem.ucl.ac.uk"
  python_build: "lib/python2.6"
  runtime_path_template: "/store4/blood/$username"
hector:
  max_job_name_chars: 15
  make_jobs: 4
  job_dispatch: "qsub"
  run_command: "aprun -n $cores -N $coresusedpernode"
  batch_header: pbs
  no_ssh: true # Hector doesn't allow outgoing ssh sessions.
  remote: "login.hector.ac.uk"
  # On hector, *all files* which are needed at runtime, must be on the /work filesystem, so we must make the install location be on the /work filesystem
  install_path_template: "$work_path/install"
  home_path_template: "/home/$project/$project/$username"
  runtime_path_template: "/work/$project/$project/$username"
  modules: ["load CMake/2.8.6"]
  build_prefix_commands: ["export CXX=CC","export CC=cc", "export LD=CC"] #Tell autoconf for dependencies where the hector compilers are
  temp_path_template: "$work_path/tmp"
  regression_test_path_template: "$work_path/regression"
  queue: "parallel"
  python_build: "lib64/python2.6"
  corespernode: 32
  cmake_options: 
    HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
    CMAKE_CXX_COMPILER: "CC"
    CMAKE_C_COMPILER: "cc"
    CMAKE_CXX_FLAGS_RELEASE: ""
    HEMELB_OPTIMISATION: "-O3"
    HEMELB_DEPENDENCIES_SET_RPATH: "OFF"
    CTEMPLATE_PATCH_ALIGN: "ON"
    MPWide_INCLUDE_DIR: "/home/e10/e10/derek/mpwide"
    MPWide_LIBRARIES: "/home/e10/e10/derek/mpwide/libMPW.a"
supermuc:
  max_job_name_chars: 15
  make_jobs: 4
  job_dispatch: "llsubmit"
  run_command: "mpiexec -n $cores"
  batch_header: ll
  no_ssh: true # Hector doesn't allow outgoing ssh sessions.
  remote: "supermuc.lrz.de"
  # On hector, *all files* which are needed at runtime, must be on the /work filesystem, so we must make the install location be on the /work filesystem
  install_path_template: "/home/hpc/pr45su/lu64bap/install"
  home_path_template: "/home/hpc/$project/$username"
  runtime_path_template: "/home/hpc/$project/$username"
  modules: ["load cmake/2.8","load mpi.ibm"]
  build_prefix_commands: ["export CXX=mpiCC","export CC=mpicc", "export LD=mpiCC"] #Tell autoconf for dependencies where the hector compilers are
  temp_path_template: "$work_path/tmp"
  regression_test_path_template: "$work_path/regression"
  queue: "parallel"
  python_build: "lib64/python2.6"
  corespernode: 16
  cmake_options:
    HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
    CMAKE_CXX_COMPILER: "CC"
    CMAKE_C_COMPILER: "cc"
    CMAKE_CXX_FLAGS_RELEASE: ""
    HEMELB_OPTIMISATION: "-O3"
    HEMELB_DEPENDENCIES_SET_RPATH: "OFF"
    CTEMPLATE_PATCH_ALIGN: "ON"
    MPWide_INCLUDE_DIR: "/home/hpc/pr45su/lu64bap/mpwide"
    MPWide_LIBRARIES: "/home/hpc/pr45su/lu64bap/mpwide/libMPW.a"
hermit:
  max_job_name_chars: 15
  make_jobs: 4
  job_dispatch: "qsub"
  run_command: "aprun -n $cores -N $coresusedpernode"
  batch_header: pbs_barebone
  no_ssh: true # Hector doesn't allow outgoing ssh sessions.
  remote: "hermit1.hww.de"
  # On hector, *all files* which are needed at runtime, must be on the /work filesystem, so we must make the install location be on the /work filesystem
  install_path_template: "$work_path/install"
  home_path_template: "/zhome/academic/HLRS/pri/$username"
  runtime_path_template: "/zhome/academic/HLRS/pri/$username"
  modules: ["load tools/cmake/2.8.7"]
  build_prefix_commands: ["export CXX=CC","export CC=cc", "export LD=CC"] #Tell autoconf for dependencies where the hector compilers are
  temp_path_template: "$work_path/tmp"
  regression_test_path_template: "$work_path/regression"
  python_build: "lib64/python2.6"
  corespernode: 32
  cmake_options:
    HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
    CMAKE_CXX_COMPILER: "CC"
    CMAKE_C_COMPILER: "cc"
    CMAKE_CXX_FLAGS_RELEASE: ""
    HEMELB_OPTIMISATION: "-O3"
    HEMELB_DEPENDENCIES_SET_RPATH: "OFF"
    CTEMPLATE_PATCH_ALIGN: "ON"
hector_login: #Hector, compiling for login nodes and serial queues
   import: "hector"
   fabric_dir: "FabricHemeLbLogin"
   modules: ["load CMake/2.8.6", "swap xtpe-interlagos xtpe-istanbul"]
   job_dispatch: ""
hector_vampir:
  import: "hector"
  fabric_dir: "FabricHemeLBVampir"
  build_prefix_commands:
    - export CXX=vtCC
    - export CC=vtcc
    - export LD=vtCC
  run_prefix_commands:
    - export VT_BUFFER_SIZE=150M
  cmake_options: 
    HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
    CMAKE_CXX_COMPILER: "vtCC"
    CMAKE_C_COMPILER: "vtcc"
    CMAKE_CXX_FLAGS_RELEASE: "-vt:mpi"
    HEMELB_OPTIMISATION: "-O3"
    HEMELB_DEPENDENCIES_SET_RPATH: "OFF"
    CTEMPLATE_PATCH_ALIGN: "ON"
  modules: ["load CMake/2.8.6","use /home/d37/d37/vampir/privatemodules","load vampirtrace","load vampir"]
julian:
   home_path_template: "/Users/$username"
   remote: "julian.chem.ucl.ac.uk"
   python_build: "lib/python2.7"
oppenheimer:
   remote: "oppenheimer.chem.ucl.ac.uk"
   run_command: "/opt/openmpi/gfortran/1.4.3/bin/mpirun -np $cores"
   batch_header: sge_oppenheimer
   build_prefix_commands: ["export set PATH=$PATH:/home/jamespjh/install/bin","export set PYTHONPATH=$PYTHONPATH:/home/jamespjh/install/lib/python2.6/site-packages"]
   no_hg: true
   job_dispatch: "qsub"
   python_build: "lib/python2.6"
   make_jobs: 4
localhost:
   remote: "localhost"
   python_build: "lib/python2.7"
   make_jobs: 4
huygens:
    remote: "huygens.sara.nl"
    username: "sar00033"
    no_hg: true
    home_path_template: "/home/$username/hemelb"
    modules: ["load cmake/2.8.5","load gcc"]
    build_prefix_commands: [] #Tell autoconf for dependencies where the hector compilers are
    temp_path_template: /scratch/shared
    regression_test_path_template: "$work_path/regression"
    corespernode: 32
    job_dispatch:  llsubmit
    stat: llq
    needs_tarballs: true
    python_build: 'lib64/python2.6'
    cmake_options: 
      HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
      CMAKE_CXX_COMPILER: "mpCC"
      CMAKE_C_COMPILER: "mpcc"
      CMAKE_CXX_FLAGS_RELEASE: ""
      HEMELB_OPTIMISATION: "-O3"
      CPPUNIT_CONFIGURE_OPTIONS: --host=powerpc64-unknown-linux-gnu
      CTEMPLATE_CONFIGURE_OPTIONS: --host=powerpc64-unknown-linux-gnu
   
riken:
   remote: "127.0.0.1:2200"  #Not a place to run code, just to get the via code there to run on Marigold
   no_ssh: true
   no_hg: true
   needs_tarballs: true
# Before the marigold section will work, you need to set up your LOCAL ssh config as follows:
# Host riken
#  HostName 127.0.0.1
#  Port 2200
#  User jamespjh
#  Host marigold
#  ProxyCommand ssh -q riken nc -w60 10.1.40.31 22
#  Host marigold_run
#  ProxyCommand ssh -q marigold nc -w60 mg 22
# And also, have followed the RIKEN instructions to join the RIKEN VPN with localhost:2200 forwarding to Riken.
marigold:
   remote: marigold
   no_ssh: true
   no_hg: true
   needs_tarballs: true
   manual_ssh: true
   runtime_path_template: "/data/$username"
   install_path_template: "$work_path/install"
   build_prefix_commands:
     - export CXX=/opt/FJSVtclang/1.2.0/bin/mpiFCCpx
     - export CC=/opt/FJSVtclang/1.2.0/bin/mpifccpx
     - export CPPFLAGS="-DNO_THREADS"
     - export CXXFLAGS=""
   cmake_options:
     CMAKE_CXX_COMPILER: /opt/FJSVtclang/1.2.0/bin/mpiFCCpx
     CMAKE_C_COMPILER: /opt/FJSVtclang/1.2.0/bin/mpifccpx
     CTEMPLATE_CONFIGURE_OPTIONS: --host=sparc64-unknown-linux-gnu
     CPPUNIT_CONFIGURE_OPTIONS: --host=sparc64-unknown-linux-gnu
     PARMETIS_CXX: /opt/FJSVtclang/1.2.0/bin/mpiFCCpx
     PARMETIS_CC: /opt/FJSVtclang/1.2.0/bin/mpifccpx
     CTEMPLATE_PATCH_VACOPY: ON
     CTEMPLATE_PATCH_ALIGN: ON
marigold_run:
  import: marigold
  remote: marigold_run
  
