default: 
  # General default values for all machines live in the default dictionary.
  # Machine-specific overrides replace these.
  # Mercurial server to find HemeLB
  hg: "ssh://hg@entropy.chem.ucl.ac.uk"
  # Repository on the mercurial server to find HemeLB
  repository: "hemelb"
  # Default Modules to load or unload on remote, via module 'foo'
  # e.g. ['load cmake'].
  modules: []
  # Commands to execute before attempting a remote build.
  build_prefix_commands: []
  # Commands to execute as part of remote run jobs.
  run_prefix_commands: []
  # Templates to use to find space to checkout and build HemeLB on the remote.
  # All user- and generally- defined values in these config dictionaries will be interpolated via $foo
  home_path_template: "/home/$username"
  # Name for the Project Fabric folder
  fabric_dir: "FabricHemeLb"
  # Path to runtime accessible filesystem (default is same as build time)
  runtime_path_template: "$home_path"
  corespernode: 1
  # Default options used in the CMake configure step.
  cmake_default_options: 
    CMAKE_BUILD_TYPE: "Release"
    CMAKE_CXX_FLAGS_RELEASE: "-O4"
  # Command to use to launch remote jobs
  # e.g. qsub, empty string to launch interactively.
  job_dispatch: ''
  # Path to build filesystem folder
  # All user-defined values in these config dictionaries will be interpolated via $foo
  remote_path_template: "$home_path/$fabric_dir"
  # Path to run filesystem folder
  work_path_template: "$runtime_path/$fabric_dir"
legion: 
  job_dispatch: "qsub"
  # The remote host-name to use.
  remote: "legion.rc.ucl.ac.uk"
  # The path python disttools use for builds.
  tools_build: "lib.linux-x86_64-2.6"
  modules: ["remove ofed/qlogic/intel/64/1.2.7", "add ofed/openmpi/gcc/64/1.4.1", "load cmake"]
  runtime_path_template: "$home_path/Scratch"
planck: 
  remote: "planck.chem.ucl.ac.uk"
  tools_build: "lib.linux-x86_64-2.6"
  run_prefix_commands: ["export set TMP=/tmp"]
entropy: 
  remote: "entropy.chem.ucl.ac.uk"
  tools_build: "lib.linux-x86_64-2.6"
  runtime_path_template: "/store4/blood/$username"
hector:
  job_dispatch: "qsub"
  no_ssh: true # Hector doesn't allow outgoing ssh sessions.
  remote: "login.hector.ac.uk"
  home_path_template: "/home/$project/$project/$username"
  runtime_path_template: "/work/$project/$project/$username"
  modules: ["load CMake/2.8.6"]
  build_prefix_commands: ["export CXX=CC","export CC=cc", "export LD=CC"] #Tell autoconf for dependencies where the hector compilers are
  tools_build: "TODO"
  queue: "parallel"
  corespernode: 32
  cmake_options: 
    HEMELB_USE_ALL_WARNINGS_GNU: "OFF"
    CMAKE_CXX_COMPILER: "CC"
    CMAKE_C_COMPILER: "cc"
    CMAKE_CXX_FLAGS_RELEASE: ""
    HEMELB_OPTIMISATION: "-O3"
    HEMELB_DEPENDENCIES_SET_RPATH: "OFF"
hector_login: #Hector, compiling for login nodes and serial queues
   import: "hector"
   fabric_dir: "FabricHemeLbLogin"
   modules: ["load CMake/2.8.6", "swap xtpe-interlagos xtpe-istanbul"]
   job_dispatch: ""