#meshes {
	background: #333;
	float: left;
	list-style: none;
	margin: 0px 10px 0px 5px;
	padding: 0;
	width: 95%;
}
#meshes li {
	font: 72.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	
}
#meshes a {
	background: #6B6B6B;
	border-bottom: 1px solid #393939;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 1px 12px;
	text-decoration: none;
}
#meshes a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 1px;
}
#meshes a.selected {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 1px;
}